<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--permite ver as conecções de rede/ver se o 3g e wifi estao ligados-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permite conectar a internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Caso o servidor não contenha HTTPS devem adicionar o usesCleartextTraffic="true" -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrindesZorro"
        tools:targetApi="31">
        <activity
            android:name=".AvaliacaosActivity"
            android:exported="false" />
        <activity
            android:name=".AvaliacaoComentarioActivity"
            android:parentActivityName=".FaturaActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".CarrinhoActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FaturaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalhesArtigoActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegistarClienteActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ServidorActivity"
            android:parentActivityName=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarPasswordActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EditarDadosPessoaisActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AlterarPasswordActivity"
            android:exported="false"
            android:parentActivityName=".EditarDadosPessoaisActivity"/>
        <activity
            android:name=".ArtigosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BrindesZorro.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>